/*
  Global style
*/

body {
  padding: 0;
  margin: 0;
}

#app {
  width: calc(100% - 10px);
  margin: 5px;

  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Î¢ÈíÑÅºÚ",Arial,sans-serif;
  font-size: 13px;
}
