/*
	Table style
*/

.test-item.table {
	& > .row {
		width: 100%;
		min-height: 30px;
		line-height: 30px;
			
		div.el-table {
			margin-top: 20px;
		}

		.table-expand {
			font-size: 0;
			.el-form-item {
				margin-right: 0;
				margin-bottom: 0;
				width: 50%;

				.label {
					display: inline-block;
					width: 100px;
					color: #99a9bf;
				}
			}					
		}
	}
}

.el-table .warning-row {
	background-color: oldlace;
}
